{% extends "base.html" %}

{% block content %}
<div class="auth-card">
  <h2>Welcome back</h2>
  <p class="muted">Login to continue your daily review</p>

  {% if form.errors %}
      <div class="form-alert">
        Invalid username or password. Please try again.
      </div>
    {% endif %}


  <form method="post">
    {% csrf_token %}

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button class="primary-btn">Login</button>
  </form>

  <p class="auth-footer">
    New here? <a href="{% url 'signup' %}">Create an account</a>
  </p>
</div>
{% endblock %}
